body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000000;
}
h1 {
  color: #fff;
}
button:focus { outline: none; }

.wrapper {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
}
.wrapper:after {
  position: absolute;
  content: '';
  border-top: 34px solid transparent;
  border-left: 34px solid transparent;
  border-bottom: 34px solid transparent;
  border-right: 34px solid #000;
  right: -30px;
  top: 44%;
  transform: translate(-50%);
}
.boxes {
  width: 96%;
  height: 96%;
  position: relative;
  border-radius: 50%;
  border: 10px solid #fff;
  overflow: hidden;
  transition: all ease 5s;
}
span {
  width: 50%;
  height: 50%;
  display: inline-block;
  position: absolute;

}
.slider1 {
  clip-path: polygon(0 92%, 100% 50%, 0% 8%);
  background-color: #e3c736;
  top: 120px;
  left: 0;
}
.slider2 {
  clip-path: polygon(100% 92%, 0% 50%, 100% 8%);
  background-color: #774284;
  top: 120px;
  right: 0;
}
.slider3 {
  clip-path: polygon(50% 0, 8% 100%, 92% 100%);
  background-color: #84c960;
  bottom: 0;
  left: 120px;
}
.slider4 {
  clip-path: polygon(50% 100%, 92% 0, 8% 0%);
  background-color: #d03c3d;
  top: 0;
  right: 120px;
}
.boxes2 {
  width: 100%;
  height: 100%;
  transform: rotate(-135deg);
}
span b {
  width: 65px;
  height: 65px;
  line-height: 65px;
  border-radius: 50%;
  font-size: 26px;
  text-align: center;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0 3px 3px 0 #717171;
}
.boxes2 span b {
  transform: translate(-50%, -50%) rotate(135deg);
}
.spin {
  position: absolute;
  top: 43%;
  left: 42%;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 4px solid #fff;
  background-color: #ff5722;
  color: #fff;
  box-shadow: 0 5px 20px #000;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
}
.spin:active {
  width: 70px;
  height: 70px;
  font-size: 20px;
}
.wrapper.animate:after {
  animation: arrow 0.7s ease infinite;
}
@keyframes arrow {
  50% {
    right: -40px;
  }
}